/*
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Droid Sans', sans-serif;
	letter-spacing: 0.15rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Coda Caption', sans-serif;
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: #000000;
	color: #ffffff;
}

header {
  background-color: #000000;
	width: 100%;
	padding: 2rem 0;

  #logo {
		font-family: 'Unlock', cursive;
		float: left;
		font-size: 2.5rem;
		a {
			font-family: 'Coda Caption', sans-serif;
			color: #EEA90A;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
      font-family: 'Coda Caption', sans-serif;
      font-size: 1.5rem;
			margin-left: 1.5rem;
			line-height: 2;
			color: #EEA90A;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
				text-decoration: none;
			}
		}
	}
}

@import "index.css.scss";
@import "beers.css.scss";
