/*
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Droid Sans', sans-serif;
	letter-spacing: 0.15rem;
	padding: 60px 0 50px 0;

}
p{
	font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Coda Caption', sans-serif;
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.dark {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: #000000;
	color: #ffffff;
}

.navbar-default {
	background-color: #000000;
}
.nav.navbar-nav.navbar-right {
	margin-right: 20px;
}

span.icon-bar {
	color: #EEA90A;
}

.logo {
	font-family: 'Unlock', cursive;
	font-size: 2.5rem;
	margin-left: 20px;
}
.logo.navbar-brand:hover{
	color: white;
}

.navbar-default .navbar-brand {
	color: #EEA90A;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Droid Sans', sans-serif;
	color: #EEA90A;
	font-size: 1.6rem;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
}


@import "index.css.scss";
@import "beers.css.scss";
